name: Build Themezer-nx

on:
  push:
  workflow_dispatch:

jobs:
  ThemezerNX:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
        
    - name: Building ThemezerNX
      run: |
        make -j$(nproc)
        
    - uses: actions/upload-artifact@master
      with:
        name: Themezer-NX
        path: themezer-nx/themezer-nx.nro
